.bold {
 font-weight: 700;
}

.underline {
 text-decoration: underline;
}

.spacing {
 letter-spacing: 1px;
}

.bold,
.underline,
.spacing {
 font-size: 20px;
}

.underline:hover,
.bold:hover,
.spacing:hover,
.underline:focus,
.bold:focus,
.spacing:focus {
 text-decoration: none;
 text-transform: lowercase;
 font-weight: 500;
 letter-spacing: 3px;
 cursor: pointer;
 transition-duration: 0.6s;
 margin: 2%;
}

.wrapper div {
 font-size: 20px;
 padding: 2%;
 line-height: 30px;
}

@media screen and (max-width: 500px) {
 .wrapper div {
  font-size: 17px;
  line-height: 25px;
  padding: 2%;
 }
 .wrapper span {
  font-size: 17px;
 }
}

@media screen and (max-width: 310px) {
 .wrapper div {
  font-size: 13px;
  line-height: 25px;
  padding: 2%;
 }
 .wrapper span {
  font-size: 13px;
 }
}

.tunis {
 position: absolute;
 top: 25%;
 right: 30%;
 width: 30%;
 border: 1px solid white;
 outline: 1px solid blue;
}

.yasmine {
 position: absolute;
 top: 20%;
 left: 5%;
 width: 15%;
 border: 1px solid white;
 outline: 1px solid blue;
}