* {
 list-style: none;
 font-size: 15px;
}

table {
 width: 100%;
 height: 500px;
}

table, td, tr, th {
 border: solid 1px blue;
}

.mc {
 width: 60%;
}

.ls, 
.rs {
 width: 20%;
}

.mc,
.ls,
.rs {
 padding: 5px;
 height: 100%;
 background-color:  rgb(255, 253, 251);
}